.coverImg{
    width: 100%;
    height: 200px;
}
.name{
    color: rgb(26, 26, 170);
}
.profile-box{
    position: relative;
    bottom: 70px;

}
.profile-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid white;
}
.myBtn{
    border: 2px solid rgb(19, 19, 172);
    color: white;
    background-color: rgb(27, 27, 167);
}
.myBtn:hover{
    border: 2px solid rgb(19, 19, 172);
    color: rgb(27, 27, 161);
    background-color: white;
}
.boxLink{
    width: 300px;
}
.bottom-bar{
    width: 100%;
    overflow-x: scroll;
    border-top: 2px solid rgb(19, 19, 167);
    border-bottom: 2px solid rgb(19, 19, 167);
}
.bottom-bar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
  /* Track */
.bottom-bar::-webkit-scrollbar-track {
    background: white;
}
  
  /* Handle */
.bottom-bar::-webkit-scrollbar-thumb {
    height: 2px;
    background: rgb(16, 16, 165);
}
  
  /* Handle on hover */
.bottom-bar::-webkit-scrollbar-thumb:hover {
    background: rgb(13, 13, 167);
}


/* left box */
.followersBox{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.followersBox::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
  /* Track */
.followersBox::-webkit-scrollbar-track {
    background: white;
}
  
  /* Handle */
.followersBox::-webkit-scrollbar-thumb {
    height: 2px;
    background: rgb(16, 16, 165);
}
  
  /* Handle on hover */
.followersBox::-webkit-scrollbar-thumb:hover {
    background: rgb(13, 13, 167);
}
.head1{
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: white;
}
.head2{
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: white;
}

/* right */
.trending{
    color: rgb(29, 29, 168);
    background-color: white;
    border: 2px solid rgb(16, 16, 175);
}
.trending:hover{
    color: white;
    background-color: rgb(26, 26, 173);
    border: 2px solid rgb(16, 16, 175);
    
}
.addFav{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 13px;
    border-radius: 10px;
    display: none;
}
@media only screen and (max-width:968px) {
    .addFav{
        position: fixed;
        bottom: 25px;
        right: 10px;
        font-size: 12px;
    }
    
}